<div class='container'>
  <h1> Welcome in chatroom </h1>
  <div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid card chat">
        <div class="content">
          <div class="ui comments">
            <div class='comment'>
              <% @messages.each do |msg| %>
                <div class="content">
                  <a class="author"> <%= msg.user.nick %></a>
                </div>
                <div class="text">
                  <%= msg.data %>
                </div>
                <div class="metadata">
                  <div class="date"> <%=msg.created_at %> </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='four wide column '>
      <div class="ui fluid card chat">
        <div class="content">
          <p> Online: </p>
        </div>
      </div>
    </div>

  </div>
  <div class="twelve wide column">
      <%= form_with(url: create_message_path, :html => {class: 'ui fluid left corner labeled input'}) do |form|%>
        <%=form.text_field :data, placeholder: "Type your message..." %>
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
      <% end  %>
  </div>
</div>
