<div class="ui large form">
  <div class="ui stacked segment">
    <%= form_with(model: user, local: true) do |form| %>

      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%=form.text_field :nick, placeholder: "Nick" %>
        </div>
      </div>

      <div class="field">
        <div class="ui left input">
          <%=form.text_field :name, placeholder: "Name" %>
        </div>
      </div>

      <div class="field">
        <div class="ui left input">
          <%=form.text_field :surname, placeholder: "Surname" %>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <%=form.text_field :password, placeholder: "Password" %>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <%=form.text_field :password_confirmation, placeholder: "Confirm Password" %>
        </div>
      </div>

      <div class="field">
        <div class="ui left input">
          <%=form.text_field :email, placeholder: "Email" %>
        </div>
      </div>

      <% if user.errors.any? %>
        <div class='errors'>
          <% user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>

      <%= form.submit :class => "ui fluid large teal submit button"%>

    <% end %>
  </div>
</div>
